.pageheading{

    color: #444 !important;
    z-index: 22;
    margin-top: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    padding-bottom: 20px;
    //background-color: pink;
    text-decoration: none !important;
    width: 29vw;
    margin-left: auto;
    padding-left: auto;
    margin-right: auto;
    border-bottom: 2px solid blue ;

}
.bordergreen
{
width: 27vw!important;
	 border-bottom: 2px solid #049b04 !important;
}
.borderred
{
   width: 19vw;
   border-bottom: 2px solid #e00606!important;
}
.centerbox
{
	  margin-right: 35%;
    margin-left: 35%;

}
.bold
{
	font-weight: bold;
}

.pagepara
{
	font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    z-index: 22;
    left: 20%;
    right: 15%;
    top: 120%;
}

.uppadding
{
	padding-top: 8vh;
}
.firstimage
{padding-top: 2vw;}
.backblue
{
	background-color: blue!important;
}
.navigationBar {
    font-family: 'Ravi Prakash', cursive;
    position: fixed!important;
    width: 100%;
    top: 0;
    left: 0;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 23;
    font-size: 2.4vw;
    background-color: red;
	/*min-width:400px;*/

}

.leftf {
    float: left!important;
}

.rightf {
    float: right!important;
}

.nav {
    display: inline-block !important;
    color: white !important;
    text-align: center;
    padding: 2vh 3vw!important;
    text-decoration: none !important;
}
.nav1 {

    padding: 2vw  1vh;
    cursor: pointer;


}
.logo {
/*background-color: pink;
*
*
**/
display:inline;
width: 6vw;
height: 6vw;

}


.dropdown-content {
    display: none;
    position: relative;

    min-width: 160px!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)!important;
    z-index: 24 !important;
    padding: 12px 16px !important;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
    font-size: 1.5vw;
 transition-duration: 2s;
}

.dropdown:hover{

}
.dropdown {
    position: relative;
    display: inline-block;
}
.spaceinbetween {
  margin-left: 10vw;
  margin-right: 10vw;
}
.box {
  //background-color:  pink;
  display: block;
  position: relative;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-radius: 4vw 4vw 4vw 4vw;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.nonDecoration {
  display: block;
  color: black;
  text-decoration: none!important;
opacity: 0.7;

}
.nonDecoration:hover {
  display: block;
  color: black;
  text-decoration: none;
  text-decoration-style: none;
opacity: 1;

}
footer {
  display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 20vh;
    color: white;
    width: 100%;
    background-color:red;

    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    font-family: 'Ravi Prakash', cursive;
    font-size: 2vw;
}
